body{
  background-color: #F7F2F7;
  margin: 0px;
}

ul.menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #D390C2;
}

li.menu a, li.home a, li.selected a, li.art-button, li.javascript-website-button, li.ai-button{
  float: left;
  display: inline-block;
  text-align: center;
  padding: 1vh 2.5vw;
  text-decoration: none;
  font-size: 20px;
  font-family: "Roboto";
  color:  #FFFFFF;
}

li.home {
  float: left;
  font-size: 20px;
  background-color: #816DE8;
}

li.home:hover {
  background-color: #8C7AEA;
}

li.menu a:hover {
  background-color: #D4ACCA;
}

li.selected {
  float: left;
  font-size: 20px;
  background-color: #BF789E;
}

* {
  box-sizing: border-box;
}

div.column1 {
  float: left;
  width: 60%;
  padding: 0px;
  line-height: 1.8;
  word-wrap: break-word;
}

div.column2 {
  float: left;
  width: 40%;
  padding: 0px;
  line-height: 1.8;
  word-wrap: break-word;
}

div.heading {
  clear: both;
  margin-bottom: 30px;
}

@font-face {
  font-family: "Roboto";
  src: url(Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoB";
  src: url(Roboto/Roboto-Black.ttf) format("truetype");
}

@font-face {
  font-family: "RobotoL";
  src: url(Roboto/Roboto-Light.ttf) format("truetype");
}

h1.title {
  margin: 60px;
  font-size: 40px;
  font-family: "Roboto";
}

h2.output {
  margin: 0px;
  font-size: 28px;
  font-family: "Roboto";
}

h2.title {
  margin: 60px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 28px;
  font-family: "Roboto";
  border-bottom: 2px solid black;
}

h2.sub {
  margin: 60px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 24px;
  font-family: "Roboto";
}

p.output {
  margin: 0px;
  font-size: 18px;
  font-family: "RobotoL";
}

p.desc {
  margin: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  font-family: "RobotoL";
}

b.code {
  background-color: #E6CAE6;
  padding: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 15px;
}

p#cap {
  margin: 0px;
  font-size: 15px;
  font-family: "RobotoL";
  line-height: 1.6;
}

ul.desc, ol.week {
  margin: 0px;
  margin-left: 60px;
  font-size: 18px;
  font-family: "RobotoL";
  line-height: 1.8;
}

ul.sub {
  margin: 0px;
  font-size: 16px;
  font-family: "RobotoL";
  line-height: 1.8;
}

ul.output {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "RobotoL";
  line-height: 1.8;
}

p.code {
  margin-left: 60px;
  margin-right: 60px;
  font-family: monospace;
  font-size: 15px;
  background-color: #EDE2ED;
  border: 0px;
  display: block;
  padding: 20px;
  line-height: 1.8;
}

div.output {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  background-color: #EDE2ED;
  border: 0px;
  display: block;
  padding: 20px;
  line-height: 1.8;
}

img {
  margin-left: 60px;
  /*height: 15vw;*/
}

img.desc {
  margin: 60px;
}

img.ex {
  margin: 10px;
  padding: 0px;
  width: 34%;
}

img.output {
  margin: 0px;
  padding: 0px;
  width: 150px;
}

table.week {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  font-family: "RobotoL";

}

th.week, td.week {
  border: 1px solid black;
  border-collapse: collapse;
}

th.week, td.week {
  padding: 10px;
}

td.week {
  width: 13vw;
}

td.code {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: monospace;
  font-size: 15px;
  padding: 10px;
  line-height: 1.8;
}

table.week tr:nth-child(even) {
  background-color: #FFF0FF;
}
table.week tr:nth-child(odd) {
   background-color: #F0E4F0;
}
table.week th {
  background-color: #926292;
  color: white;
}

table.output {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 18px;
  font-family: "RobotoL";
}

th.output, td.output {
  border: 1px solid black;
  background-color: #F0E4F0;
  border-collapse: collapse;
  padding: 10px;
}

hr.separate {
  margin: 60px;
  border: #786778 solid 1px;
}

canvas.example-canvas {
  margin: 60px;
}

#newColorDropdown, #newColorInput, #inputType {
  margin: 60px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 0px;
}

button#changeColorButton {
  margin: 60px;
  margin-top: 0px;
  margin-bottom: 10px;
  background: #C7D0F9;
  border: none;
  font-family: "Roboto";
  font-size: 13px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
}

button#changeColorButton:hover {
  background: #B6BFEA;
}

button.changeInputButton {
  margin-left: 20px;
  margin-bottom: 60px;
  background: #EAB6EA;
  border: none;
  font-family: "Roboto";
  font-size: 18px;
  cursor: pointer;
  padding: 12px 24px;
}

button.changeInputButton:hover {
  background: #D6ABD6;
}

button#inputButton {
  margin-left: 60px;
}

input.slider {
  -webkit-appearance: none;
  height: 5px;
  background: #000000;
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left: 60px;
  margin-bottom: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 5px;
}

#r::-webkit-slider-thumb {
  background: #DD0000;
  /* border: 2px solid #DD0000; /* Green */ */
}

#g::-webkit-slider-thumb {
  background: #00DD00;
}

#b::-webkit-slider-thumb {
  background: #0000DD;
}

img.noDrag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
